*.egg-info
*.rdf
*.md
*.rst
*.txt
*.sublime-*
*.xml
.*.cfg
.DS_Store
.git
.gitignore
__pycache__
bin
bootstrap.py
build
data
dev.cfg
develop-eggs
docker-compose.yaml
docs
jenkins.cfg
parts
support
var
venv
